[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-cors-headers = "*"
django-environ = "*"
whitenoise = "*"
psycopg2-binary = "*"
djangorestframework = "*"
gunicorn = "*"
djoser = "*"
django-taggit = "*"
django-extensions = "*"
pillow = "*"
django-filter = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.10"
